.hidden {
  display: none !important;
}

.selected {
  background-color: green;
}

#pizzaDisplayRow {
  position: relative;
  height: 500px;
  width: 500px;
  border: 2px solid black;
}

#pizzaDisplayRow img {
  position: absolute;
  height: 75px;
  width: 75px;
}

#pizzaDisplayRow img.base {
  height: 450px;
  width: 450px; 
}

#img0 {
  z-index: 5;
}
